@import url('https://fonts.googleapis.com/css2?family=Almendra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Almendra&display=swap');

* {
    box-sizing: border-box;
    /* background-color: #ef9a9a; */
}

.nav-wrapper {
    background-color: #607d8b;
    font-family: Aclonia;

}

.row {
    background-color: #ef9a9a;
}

.carousel {
    border-style: solid;
    border-radius: 10px;
    border-color: #607d8b;
    border: 20px;
}

@media screen and (max-width:567px){
 nav{
    height:200px;
    width:100%;
 }   
}