@import url('https://fonts.googleapis.com/css2?family=Almendra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Almendra&display=swap');

* {
    box-sizing: border-box;
}

.nav-wrapper {
    background-color: #646d58;
    font-family: Aclonia;
    font-size: 200%;
    text-align: center;
}

.card {
    background-color: #b7cf84;
}

.row {
    background-color: #fefcbf;
}

.carousel:hover {
    border: 3px solid ;  
    box-shadow: 0 0 10px #333; 
    cursor:pointer;
}

.img-center { 
    margin: 10px auto;
}

@media screen and (max-width:567px){
 nav{
    height:200px;
    width:100%;
 }   
}