@import url('https://fonts.googleapis.com/css2?family=Almendra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Almendra&display=swap');

* {
    box-sizing: border-box;
    /* background-color: #ef9a9a; */
}

.nav-wrapper {
    background-color: #646d58;
    font-family: Aclonia;
}

.card {
    background-color: #b7cf84;
}

.row {
    background-color: #fefcbf;
}

.carousel:hover {
    border:2px solid ;  
    box-shadow: 0 0 10px #333; 
}

/* .carousel {
    border-style: solid;
    border-radius: 50px;
    border-color: #607d8b;
} */

.img-center { 
    margin: 10px auto;
}

@media screen and (max-width:567px){
 nav{
    height:200px;
    width:100%;
 }   
}